$white: #ffffff;
$black: #020202;
$brut: #00599c;
$cabernet: #ba122b;
$chardonnay: #fae042;
$pinotnoir: #7a4282;
$pinotgrigio: #4accd4;
$redblend: #cc8f94;
$sauvignonblanc: #9abb91;
$res-prosecco: #002855;
$res-cabernet: #9D2235;
$res-chardonnay: #e3ba12;
$res-pinotnoir: #5E366E;
$res-pinotgrigio: #008C95;
$res-redblend: #9B3259;
$res-sauvignonblanc: #5c7e51;